@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This toolkit contains basic tools for encoding and decoding ACRUX-1 packets.</p>
    <p>Included is RS(255,223) FEC encode and decode, packet encode and decode, and full pipeline encode and decode.</p>
    <p>Please use the toolbar to access the various tools available.</p>
</div>
