@{
    ViewData["Title"] = "Home Page";
}

@model Acrux1Tools.Web.Models.Home.IndexViewModel

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This toolkit contains basic tools for encoding and decoding ACRUX-1 packets, as well as viewing ACRUX-1 telemetry.</p>
    <p>Included is RS(255,223) FEC encode and decode, packet encode and decode, and full pipeline encode and decode.</p>
    <p>Some tools are still a work in progress.</p>
</div>