@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>No information submitted to this web tool is intentionally logged, saved, or otherwise permanently written to non-volatile memory.
    However, we cannot guarantee that data will not be inadvertently logged under certian conditions,
    such as in the event of an error.</p>

<p>If you need to process highly sensitive data, please use an offline decoder instead.
    For example, this web tool can be compiled and run offline if required.</p>
