
@{
    ViewData["Title"] = "Forward Error Correction Tools";
}

<h1>Index</h1>

<a class="nav-link text-dark" asp-area="" asp-controller="Fec" asp-action="Decode">Decode RS(255,223)</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Fec" asp-action="Encode">Encode RS(255,223)</a>